*{
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    font-family: 'Martel Sans', sans-serif;
    background-color: grey;
}
h1 {
    font-size: 2.25vmin;
    text-align: center;
    color: white;
}
p {
	font-size: max(10pt, 2.5vmin);
	line-height: 1.4;
	color: #0e390e;
	margin-bottom: 1.5rem;
}

.wrap {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 80vmin;
    height: 20em;
    margin: 2rem auto;
    border: 8px solid;
    border-image: black;
    transition: .3s ease-in-out;
    position: relative;
    overflow: hidden;
}
.overlay {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1rem .75rem;
    background: rgb(85, 84, 84);
    transition: .4s ease-in-out;
    z-index: 1;
}

.overlay-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15vmin;
    height: 100%;
    padding: .5rem 0 0 .5rem;
    border: 3px solid;
    border-image:
        linear-gradient(to bottom,
            #AEA724 5%,
            forestgreen 35% 65%,
            #AEA724 95%) 0 0 0 100%;
    transition: .3s ease-in-out .2s;
    z-index: 1;
}

.image-content {
    position: absolute;
    top: 0;
    right: 0;
    width: 60vmin;
    height: 100%;
    background-image: url("https://assets.codepen.io/4787486/trees.png");
    background-size: cover;
    transition: .3s ease-in-out;
    /* border: 1px solid green; */
}
.inset {
    max-width: 50%;
    margin: 0.25em 1em 1em 0;
    border-radius: 0.25em;
    float: left;
}

.text {
    position: absolute;
    top: 0;
    right: 0;
    width: 60vmin;
    height: 100%;
    padding: 3vmin 4vmin;
    background: #fff;
    box-shadow: inset 1px 1px 15px 0 rgba(0 0 0 / .4);
    overflow-y: scroll;
}

.wrap:hover .overlay {
    transform: translateX(-60vmin);
  
}

.wrap:hover .image-content {
    width: 30vmin;
}

.wrap:hover .overlay-content {
    border: none;
    transition-delay: .2s;
    transform: translateX(60vmin);
}

.wrap:hover .overlay-content h1{
        color: black;
        background-color: white;
        transition: .4s;
}

.animate {
    animation-duration: 0.7s;
    animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
    animation-fill-mode: backwards;
}

/* Pop In */
.pop {
    animation-name: pop;
}

@keyframes pop {
    0% {
        opacity: 0;
        transform: scale(0.5, 0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}

/* Slide In */
.slide {
    animation-name: slide;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translate(4em, 0);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.slide-left {
    animation-name: slide-left;
}

@keyframes slide-left {
    0% {
        opacity: 0;
        transform: translate(-40px, 0);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.slide-up {
    animation-name: slide-up;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(3em);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.delay-1 {
    animation-delay: 0.3s;
}

.delay-2 {
    animation-delay: 0.6s;
}

.delay-3 {
    animation-delay: 0.9s;
}

.delay-4 {
    animation-delay: 1.2s;
}

.delay-5 {
    animation-delay: 1.5s;
}

.delay-6 {
    animation-delay: 1.8s;
}

.delay-7 {
    animation-delay: 2.1s;
}

.delay-8 {
    animation-delay: 2.4s;
}
/* ************************************ */
.filterBar{
    min-width: 50vw;
    height: 20vh;
    background-color: red;
}

.mapholder{
    display: grid;
    height: 80vh;
    grid-template-columns: 1fr 3fr 1fr;  
}


#map-card-container{
    display: flex;
    gap: 1px;
    flex-direction: row;
    flex-wrap:wrap ;
    justify-content: center;
}


.cities{
    display: flex;
}

.hidden{
    display: none;
}

#naturalDisasterCards{
    max-width: 30vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
}

.disasterCards{
    margin: 2px;
    width:fit-content;
    border-style: solid;
    background-color: grey;
    color: white;
    border-color: black;
    font-size: larger;
}

.selectedDisasterCard{
    background-color: #2f2d2d;
}

.disasterCards:hover{
    background-color: #454242;
    color: black;
}

@media only screen and (max-device-width: 500px){
    #naturalDisasterCards{
        max-width: 100vw;
    }
}